// app global css
body
  color #666666
h1, h2, h3, h4, h5
  margin 0
  padding 0
  line-height 1em
  color black
h1
  font-size 2.5rem
h2
  font-size 1rem
  text-transform uppercase
  color grey
  .q-icon
    font-size 1.25em
    position relative
    bottom .1rem
    color lightgrey
h3
  font-size 1.25rem
.placeholder
  min-height auto
.placeholder.ph-subtitle
  min-height 24px
  width 25%
.placeholder.ph-title
  min-height 32px
  width 50%
.placeholder.ph-summary
  min-height 64px
  width 100%
.square:after
  content: "";
  display: block;
  padding-bottom: 100%;

.bg-white-25
  background-color rgba(255, 255, 255, 0.25)
.bg-white-50
  background-color rgba(255, 255, 255, 0.50)
.bg-white-75
  background-color rgba(255, 255, 255, 0.75)
